<header>
        <div class="container header-container">
            <a href="#home" class="logo" data-page="home">
                <i class="fas fa-home"></i>BINA <span>DOMUS</span>
            </a>
            
            <button id="mobile-toggle" class="mobile-toggle " ><i class="fas fa-bars"></i></button> 
            
            <nav>
                <ul class="nav-menu" id="nav-menu">
                    <li class="nav-item"><a href="../index.html" class="nav-link" data-i18n="nav.home"  >Accueil</a></li>
                    <li class="nav-item dropdown">
                        <a href="../pages/produit.html" class="nav-link">Nos produits <i class="fas fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="../pages/fenetre.html" class="dropdown-item" ><i class="fas fa-window-maximize"></i> Fenêtres</a></li>
                            <li><a href="../pages/porte.html" class="dropdown-item" ><i class="fas fa-door-closed"></i> Portes d'entrée</a></li>
                            <li><a href="../pages/coulissant.html" class="dropdown-item" ><i class="fas fa-sliders-h"></i> Systèmes coulissants</a></li>
                            <li><a href="../pages/voulet_roulant.html" class="dropdown-item" ><i class="fa-regular fa-window-maximize"></i> Volets roulants</a></li>
                            <li><a href="../pages/porte_garage.html" class="dropdown-item" ><i class="fas fa-warehouse"></i> Portes de garage</a></li>
                           
                            <li><a href="../pages/accessoires.html" class="dropdown-item" ><i class="fas fa-tools"></i> Accessoires</a></li>
                        </ul>
                    </li>
                
                    <li class="nav-item"><a href="../pages/contact.html" class="nav-link" >Contact</a></li>
                    <li class="nav-item"><a href="../pages/contact.html" class="nav-link btn btn-small">Devis gratuit</a></li>
                    <li class="nav-item language-switcher">
                        <div class="language-current">
                            <img src="https://flagcdn.com/fr.svg" alt="Français" class="language-flag">
                            <span class="language-name">Français</span>
                            <i class="fas fa-chevron-down language-arrow"></i>
                        </div>
                        <ul class="language-list">
                            <li class="language-option active" data-lang="fr">
                                <img src="https://flagcdn.com/fr.svg" alt="Français" class="language-flag">
                                <span>Français</span>
                            </li>
                            <li class="language-option" data-lang="en">
                                <img src="https://flagcdn.com/gb.svg" alt="English" class="language-flag">
                                <span>English</span>
                            </li>
                            <li class="language-option" data-lang="it">
                                <img src="https://flagcdn.com/it.svg" alt="Italiano" class="language-flag">
                                <span>Italiano</span>
                            </li>
                            <li class="language-option" data-lang="es">
                                <img src="https://flagcdn.com/es.svg" alt="Español" class="language-flag">
                                <span>Español</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

   